<div class="contenedor">
    <h1><%= nombrePagina %></h1>
    <div class="informacion-grupo">
        <div class="imagen">
            <% if(grupo.imagen) { %>
                <img src="/uploads/grupos/<%= grupo.imagen %>" alt="...">
            <% } else { %>
                <img src="/img/logo.png" alt="...">
            <% } %>
        </div>
        <div class="texto">
            <%- grupo.descripcion %>

            <% if(grupo.url) { %>
                <a class="url" href="<%- grupo.url %>" target="_blank">Visita nuestro sitio web</a>
            <% } %>

            <% if(meetis.length > 0 ) { %>
                <h2>Próximos meetis</h2>
                <ul class="lista-meetis">
                    <% meetis.forEach(meeti => { %>
                        <li>
                            <div class="texto">
                                <a href="/meeti/<%= meeti.slug %>">
                                    <h3><%= meeti.titulo %></h3>
                                    <% moment.locale('es'); %>
                                    <% const fecha = meeti.fecha + ' ' + meeti.hora %>
                                    <p class="fecha"><%= moment(fecha).format('LLLL'); %></p>
                                </a>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </div>
    </div>
</div>