<main class="asistentes contenedor">
    <h1><%= nombrePagina %></h1>
    <!-- Ver datos de las consultas en el navegador -->
    <% JSON.stringify(usuario) %>

    <!-- Información del usuario -->
    <div class="informacion-usuario">
        <div class="imagen">
            <% if(usuario.imagen) { %>
                <img src="/uploads/perfiles/<%= usuario.imagen %>" alt="">
            <% } %>
        </div>

        <div class="texto">
            <%- usuario.descripcion %>
        </div>
    </div>

    <!-- Información de grupos -->
    <div class="grupos-usuario">
        <% if(grupos.length > 0) { %>
            <h2>Grupos de: <%= usuario.nombre %></h2>
            <ul class="lista-grupos">
                <% grupos.forEach(grupo => { %>
                    <li>
                        <div class="imagen">
                            <% if(grupo.imagen) { %>
                                <img src="/uploads/grupos/<%= grupo.imagen %>" alt="...">
                            <% } else { %>
                                <img src="/img/logo.png" alt="...">
                            <% } %>
                        </div>
                        <div class="texto">
                            <a href="/grupos/<%= grupo.id %>">
                                <h3><%= grupo.nombre %></h3>
                            </a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </div>
</main>