<main class="contenedor contenedor-formularios no-padding">
        <h1><%= nombrePagina%></h1>
    
        <form method="post" class="default-form">
            <div class="campo">
                <label for="text">Nombre del grupo</label>
                <input type="text" name="nombre" value="<%= grupo.nombre %>" placeholder="Nombre del grupo">
            </div>
            <div class="campo descripcion">
                <label for="text">Descripción del grupo</label>
                <div class="contenedor-editor">
                    <input type="hidden" id="x" value="<%= grupo.descripcion %>" name="descripcion">
                    <trix-editor input="x"></trix-editor>
                </div>
            </div>
            <div class="campo">
                <label for="text">Categoria</label>
                <select name="categoria">
                    <option value="" selected disabled>Selecciona una categoría</option>
                    <% categorias.forEach(cat => { %>
                        <option value="<%= cat.id %>" <%= (grupo.CategoriaId === cat.id) ? 'selected' : '' %>><%= cat.categoria %></option>
                    <% }); %>
                </select>
            </div>
            <div class="campo">
                <label for="text">Sitio web</label>
                <input type="url" name="url" value="<%= grupo.url %>" placeholder="Nombre del grupo">
            </div>
            <div class="campo enviar">
                <input type="submit" value="Guardar cambios" class="btn btn-rosa">
            </div>
        </form>
    </main>